* {
    box-sizing: border-box;
}

html {
    background-color: #351F39;
    color: #A0C1B8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    font-weight: bold;
    background-color: transparent;
    color: #A0C1B8;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #423644;
}

.container {
    margin: 100px 505px;
    border: 4px solid white;
    border-radius: 15px;
    padding: 25px;
}

h2 {
    margin-top: 0;
}

.enterDateP {
    display: inline-block;
}

h4 {
    margin-bottom: 10px;
}