* {
    box-sizing: border-box;
}

html {
    background-color: #351F39;
    color: #A0C1B8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    font-weight: bold;
}